<h1>Update University</h1>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Country</td>
            <td>Teaching rating</td>
            <td>Industry income rating</td>
            <td>Total score</td>
            <td>Year</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ updatedCollection.name }}</td>
            <td><input class="form-control" ng-model="updatedCollection.country" /></td>
            <td><input class="form-control" ng-model="updatedCollection.teaching_rating" /></td>
            <td><input class="form-control" ng-model="updatedCollection.industry_income_rating" /></td>
            <td><input class="form-control" ng-model="updatedCollection.total_score" /></td>
            <td><input class="form-control" ng-model="updatedCollection.year" /></td>
            <td>
                <button class="btn btn-primary" onclick="validateupdatedCollection()" ng-click="updateCollection()">Update</button>
                <button class="btn btn-secondary" ng-click="cancelUpdate()">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>